#root {
  min-height: 100vh;
}

header {
  display: flex;
  height: 5.9375rem;
  background: linear-gradient(121deg, #DAED49 52.6%, #00BDD4 47.4%);
  color: #000000;
  font-weight: bold;
  width: 100%;
}
.header__text {
  position: relative;
  display: flex;
  font-size: 2.1875rem;
  width: 15.0625rem;
  height: 2.625rem;
  top: 1.5rem;
  left: 4.105625rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: 4.201875rem;
  background: #464646;
  width: 100%;
  top: 100vh;
}
.footer__text {
  color: #CCCCCC;
  font-weight: bold;
  font-size: 1rem;
}

@media only screen and (orientation: portrait) {
  header {
    background: #DAED49;
    justify-content: center;
    align-items: center;
    height: 4.4375rem;
  }
  .header__text {
    margin: 0 0 0 0;
    top: 0;
    left: 0;
    font-size: 1.875rem;
  }

  footer {
    font-size: 0.875rem;
    height: 3.045rem;
  }
  .footer__text {
    font-size: 0.875rem;
  }
}

.cyan {
  color: #00BDD4;
  font-weight: bold;
}

.main__content {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.image {
  width: 40.4375rem;
  height: 41.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.secondary__info {
  color: #959595;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 2.3125rem;
}

.primary__info {
  color: #00BDD4;
  font-weight: bold;
  font-size: 1.5625rem;
  margin-bottom: 0.9375rem;
}
.even {
  color: #BDD800;
}

.button__back {
  display: flex;
  align-items: center;
  background-color: rgba(0, 189, 212, 0.5);
  border: none;
  border-radius: 0.625rem;
  font-size: 1.875rem;
  padding: 7px 16px 7px 3px;
  margin: 1.875rem 0 0 3.125rem;
}
.back__arrow {
  width: 1.8125rem;
  margin: 0 0 0 1rem;
}
.button__space {
  width: 100%;
}