.details__list {
  margin: 3.5rem 0 0 12.875rem;
  max-height: 32.4375rem;
  list-style-type: none;
  padding: 0;
}

.cursor {
  cursor: auto;
}

@media only screen and (orientation: portrait) {
  .details__list {
    margin: 7rem 1.3125rem 0rem 1.75rem;
    width: 100%;
  }

  .line {
    background: #d1d1d1;
    height: 1px;
    margin: 1.3125rem 0 1.125rem 0.0625rem;
    width: 100%;
  }
}
