header {
  display: flex;
  align-items: center;
  height: 69px;
  background: #DAED49;
  color: #000000;
  font-weight: bold;
  font-size: 25.4px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 49px;
  background: #464646;
  color: #CCCCCC;
  font-weight: bold;
  font-size: 11.6px;
  width: 100%;
}

.cyan {
  color: #00BDD4;
  font-weight: bold;
}

p {
  font-size: 50.75px;
}

.image {
  width: 469px;
  height: 481px;
}