.episode__num {
  font-weight: bold;
  color: black;
  font-size: 1.5625rem;
}

.episode__list {
  margin: 8.5rem 0 0 13.0625rem;
}

.episode__element {
  display: flex;
  flex-direction: row;
}

.episode__right__Margin {
  margin-right: 2.09375rem;
}

.episode__left__Margin {
  margin-left: 1.84375rem;
}

.episode__title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.3125rem;
}
.episode__title::before {
  content: "";
  position: absolute;
  background-color: #d1d1d1;
  top: -1rem;
  width: 0.0625rem;
  height: 160%;
}

@media only screen and (orientation: portrait) {
  .episode__num {
    font-size: 1.125rem;
    margin-bottom: 0.8125rem;
  }

  .episode__list {
    display: flex;
    margin: 7rem 1.53125rem 0 1.5625rem;
    flex-direction: column;
    width: 100%;
  }

  .episode__title {
    margin: 0 0 0 0;
  }
  .episode__title::before {
    content: none;
  }

  .episode__element {
    display: flex;
    flex-direction: column;
  }

  .episode__left__Margin {
    margin: 0 0 0 0;
  }

  .line {
    background: #D1D1D1;
    height: 1px;
    margin: 1.34375rem 0 1.09375rem 0.03125rem;
    width: 100%;
  }
}