.episode--num {
    font-weight: bold;
    color: black;
}

.episode--date {
    color: #959595;
}

.episode--title {
    font-weight: bold;
}

.blue {
    color: #00BDD4
}

.green {
    color: #DAED49;
}